body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  padding: 20px;
  background-color: #736ced;
  color: white;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

.add-todo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-todo input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 200px;
}

.add-todo button {
  background-color: white;
  color: #736ced;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-size: 24px;
  padding: 0 15px;
}

.todo-list {
  text-align: left;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #736ced;
  font-size: 18px;
}
